/* -- Custom Properties */
:root{
    --colorPrincipal: #1073BA;
    --colorSercundario: #00DA55;
    --colorNegro: #000000;
    --colorGris: #3B3B3B;
    -colorGrisClaro: #E1E1E1;
    --colorBlanco: #FFFFFF;

    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: font-family: 'Lato', sans-serif;
}

/* -- Reset -- */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}